@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300;400;600;700&family=Bangers&family=Permanent+Marker&family=Rubik+Dirt&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


body{
    background-color: rgb(100, 100, 100);
    margin: 0px 0px ;
    padding: 0px 0px;
    font-family:'Advent Pro', sans-serif ;
    
}
/*font-family: 'Advent Pro', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Rubik Dirt', cursive; */

:root{
    --font-color-light:white;
    --font-color-dark:black;
    --color-light:white;
    --color-dark:black;
    --background-light:white;
    --background-dark:black;
    --variante-1:orange;
    --variante-2:yellow;
    --font-size-H1:3em;
    --font-size-H2:2em;
    --font-size-H3:1em;
    --font-size-text:1em;
    
}


.header{
    background-image:  url(./assets/111.png);
    background-size:cover;
    background-position-y: -25em ;
    background-repeat: no-repeat;    
    max-width: 100%;
    width: 100%;
    height: 90px;
    display: block;
    color: black;
    align-items: center;
    

}
.logo{
    
    display: inline-block;
    max-width: 20%;
    background-color: rgba(255, 255, 255, 0);
    max-height: 100%;
    position: absolute;
    margin: 0 0;
    padding: 0 0;
    image-orientation: inherit;
    image-resolution: initial;
    z-index: 1;    
}
.nav{

    display: inline-block;
    margin-left: 10%;
    max-width: 75%;
    color: var(--font-color-light) ;
    margin-top: 0;
    font-size: var(--font-size-H3);
    word-spacing: 0.6em;
}

.items{
    list-style-type: none;
    text-align: center;    
}
.item{
    font-size: var(--font-size-H3);
    font-weight: 600;
    display: inline;
    padding: 1em 0.5em;
    text-decoration: none;
}
.item:hover{
    background-color: beige;
}

.icons{
    
    margin-left: 5%;
    max-width: 10%;
    display: inline-block;
    color: var(--color-light);
    font-size: 1.5em;
    align-items: center;
    text-align: center;
    word-spacing: 1em;
}




.hero{
    background-image: url(assets/paintball\ pros.jpg);
    background-position: center;
    background-size: cover;
    display: block;
    max-width: 100%;
    max-height: 500px;
    height: 100%;
    background-position: center;    
    align-items: center;
    
}
.titlecolumn{
    
    padding: 20% 5% 10% 30%;
    text-align: center;
    
}

.title{
    font-family: 'Bangers', cursive;
    text-align: center;
    line-height: 1em;
    letter-spacing: 2px;
    color:var(--font-color-light);
    font-size: var(--font-size-H1);

}
.subtitle{
    font-size: var(--font-size-H2);
    display: inline-block;
    color: rgb(0, 0, 39);
    
}


.characters{
    display:grid;
    height:130px;
    grid-template-areas: 
    "a1 a2 a3 a4";
    max-width: 100%;
    width: 100%;
    background-color:gray;
    gap: 5px;
    align-items: center;
    text-align: center;   
}

.character{
    background-color: aliceblue;
    max-height: 100%;
    text-align: center;
    align-items: center;
    height: 90%;
    display: block;
    line-height: 0.2em;
    
}
.character i{
    font-size: 3em;
    padding-top: 10%;
    
}
.c{
    background-color: rgb(201, 0, 0);
    background-image: url(assets/2.png);
    background-position-y: -2em;
    
}
.r{
    background-color: rgb(255, 217, 0);
    background-image: url(assets/5.png);
    background-position-y: -2em;
}
.f{
    background-color: rgb(0, 124, 0);
    background-image: url(assets/8.png);
    background-position-y: -2em;
}
.m{
   background-color: rgb(23, 23, 161); 
   background-image: url(assets/111.png);
   background-position-y: -2em;
}
.character(:nth-of-type(1)){
    grid-area:a1;
    background-color:red;  
}
.character(:nth-of-type(2)){
    grid-area:a2;
}
.character(:nth-of-type(3)){
    grid-area:a3;
}
.character(:nth-of-type(4)){
    grid-area:a4;
}




.double{
    height: 300px;
    width: 100%;
    background-image: url(assets/4.png);
    display: block;
    
    align-items: center;
    text-align: center;  
    
    
}
.aside{
    height: 100%;
    background-image: url(assets/12.png);
    display: inline-block;
    background-color: var(--variante-1);
    max-width: 30%;
    overflow: hidden;
    gap: 0;
    
    
}
.links{
    max-width: 100%;
    display: block;    
    font-family: 'Bangers', cursive;
    font-size: 1.5em;
    
}
.links:hover{
    background-color: rgba(3, 68, 1, 0.295);
    transition: 1500ms;
}    
.banners{
    display: inline-block;
    background-color: darkblue;
    max-width: 60%;
    margin-top: 0;
    width: 100%;
    height: 100%;
    color: black;
    background-image: url(assets/motoasalto.jpg);
    overflow: hidden;
    background-size: cover;
    background-position-y: bottom;
}
.slide{
    position: relative;
    max-height: 90%;
    height: 50%;
    background-color: rgba(240, 248, 255, 0.534);
    margin-top: 5%;
    margin-left: 40%;
    width: 40%;
    padding: 5%;
    text-align: center;
    font-weight: 600;

}
.cta{
    background-color: black;
    color: azure;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'Bangers', cursive;
    font-size: var(--font-size-H3);
}




.media{
    display: block;
    background-color:var(--background-light);
    padding: 5% 5%;
    height: 5em;
}
.media i{
    font-size: 2em;
    letter-spacing: 1em;
}
.fa-instagram:hover{
    color: rgb(247, 41, 236);
}
.fa-facebook-f:hover{
    color: blue;
}
.fa-youtube:hover{
    color:red;
}
.fa-square-twitter:hover{
    color: cyan;
}




.category-grid{
    background-color: var(--background-dark);
    background-image: url(assets/6.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y:-10em ;
    max-height: 100%;
    text-align: center;
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "e1 e2 e3";
    
}
.category(:nth-of-type(1)){
    grid-area:e1;
}
.category(:nth-of-type(2)){
    grid-area:e2;
}
.category(:nth-of-type(3)){
    grid-area:e3;
}

.category{
    
    display: inline-block;
    align-items: center;
    text-align: center;
    list-style: inside;
    
}

.category__title{
    text-decoration: none;
    color: var(--background-light);
}
.ref{
    display: block;
    color: var(--color-light);
}

.perro{
    max-width: 100%;
    width: 100%;
    margin: 20%;
    background-color: var(--background-dark);
    display: block;   
    padding: 0 0;
    margin: 0 0;
    text-align: center;
}
.list{
    color: aliceblue;
    background-color:var(--background-dark);
    display: inline-block;
    align-items: center;
    text-align: center;
    list-style: inside;
}
.priv{
    
    font-size: 0.8em;
    display: inline-block;
    padding: 0 10px;    
}
.conten{
    text-align: center;
    background-color: rgb(0, 0, 29);
}
.copyright{
    
    display: inline;
    font-size: 0.7em;
    color: white;
}



.container-menu , .container-account{
    display: none;
}
.check-account , .check-menu { 
    display: none;    
}

@media screen and (max-width: 892px){
body{
    margin: 0 0;
    padding: 0 0;
}
.header{
    background-position-y: -8em ;
    display: block;
    max-width: 100%;
    width: 100%;
    height: 75px;
    text-align: justify;
    padding: 0;
    margin: 0;
}
.items{
    display: none;
}

.responsive-icons {
    color: white;
    display: inline-block;
    padding: 1.5em;
    font-size: 1.2em;
    text-align: start;
    margin-right: -2em;
    
    
}
.responsive-icons i{
    color: aliceblue;    
}
.bars{
    color: white;
    display: inline-block;
    cursor: pointer;
}
.bars label{
    cursor: pointer;
}
.user{
    margin-left: 1em;
    display: inline-block;
    position: absolute;
    right: 30px;
    color: white;
}
.user label{
    cursor: pointer;
}

.check-menu{ 
    display: none;    
}

.container-menu{
    display: block;
    position: absolute;
    background: rgb(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    visibility: hidden;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;    
}

#b-menu-check:checked ~ .container-menu{
    visibility: visible;
}

.cont-menu nav{
    transform: translateY(15%);
    background-image: url(assets/2.png);
    background-repeat: no-repeat;

}
.cont-menu nav input{
    margin-left: 10px;
    padding: 10px 10px;
    position: relative;
    width: 80%;

    font-size: 1.4em;
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: white;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
    font-size: 1.4em;
}

.cont-menu nav a:hover{
    border-left: 5px solid #7c7c7c;
    background: rgba(51, 51, 51, 0.671);
}

.cont-menu label{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;

}












.container-account{
    display: block;
    position: absolute;
    background: rgb(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    transition: all 500ms ease;
    visibility: hidden;
    
}
.cont-account{
    text-align: center;
    margin-left: calc(100% - 250px);
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    
}

#b-account-check:checked ~ .container-account{
    visibility: visible;
}

.profile-pic{
    width: 100%;
    max-width: 100px;
    right: 0;
    text-align: center;
}

.cont-account nav{
    
    transform: translateY(5%);
    
    background-image: url(assets/5.png);
    background-repeat: no-repeat;

}
.cont-account nav img{
    margin-left: 10px;
    padding: 10px 10px;
    position: relative;
    width: 80%;

    font-size: 1.4em;
}
.cont-account nav a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: white;
    border-right: 5px solid transparent;
    transition: all 400ms ease;
    font-size: 1.4em;
}

.cont-account nav a:hover{
    border-right: 5px solid #7c7c7c;
    background: rgba(51, 51, 51, 0.671);
}

.cont-account label{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;

}







.logo{
    display: block;
    z-index: 0;
    position: absolute;
    max-width: 100px;
    margin-left: calc(50% - 50px) ;
    margin-top: -5em;
    
}
.icons{
    display: none;
}
.fa-search{
    display: none;
}


.characters{
    display: grid;
    height: 130px;
    grid-template-areas: 
    "a1 a2"  
    "a3 a4";
}
.double{
    margin-top: 17vh;
}
.media{
    height: 7em;
}
.category{
    font-size: .9em;
    line-height: 1.6em;
    
}
.titlecolumn{
    padding: 10%;
}
.slide{
    width: 50%;
    height: 100%;
    padding: ;
    margin: ;
}
}